.span, h1, h2, h3, h4, h5, h6, p {
    color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity));
}

body {
    background-color: rgb(241, 232, 233) !important;
}


/* Link colors */

.c-link-main {
    color: #1d1d1d !important;
    text-decoration: none;
    transition: all .2s;
}

.c-link-main:hover {
    color: rgb(219, 81, 81) !important;
}

.c-link-gray {
    color: rgb(158, 176, 190);
}

/* Link colors */


/* Button colors */

.c-btn-primary {
    background-color: rgb(55, 165, 255) !important;
}

.c-btn-primary:hover {
    background-color: rgb(55, 140, 245) !important;
}

/* Button colors */


/* Colors */

.c-bg-body {
    background-color: rgb(241, 232, 233) !important;
}
.c-bg-card {
    background-color: rgb(250, 218, 221);
}

.c-bg-form {
    background-color:rgb(243, 232, 243) !important;
}

.c-bg-light {
    background-color: rgb(90, 192, 64);
}

.c-light {
    color: rgb(211, 235, 255);
}

.c-black {
    color: black !important;
}

.c-new-price {
    color: rgb(230, 32, 32) !important;
}

/* Colors */



/* Font-size */

.fs-11 {
    font-size: 11px;
}

.fs-13 {
    font-size: 13px;
}

.fs-16 {
    font-size: 16px;
}

.fs-19 {
    font-size: 19px;
}

.fs-24 {
    font-size: 24px;
}
/* Forn-size */


/* Product card */
.row {
    --bs-gutter-y: 2rem;
    margin-top: 0;
    margin-right: calc(2 * var(--bs-gutter-x));
    margin-left: calc(2 * var(--bs-gutter-x));
}

.products .card {
    box-shadow: 0 5px 10px -8px rgb(116, 111, 111);

    --bs-card-border-radius: calc(1.5rem - 2px);
    --bs-card-inner-border-radius: calc(1.5rem - 2px);
    --bs-card-cap-bg: rgba(78, 78, 78, 0.03);
    transition: all .2s;
}
.products .card:hover {
    box-shadow: 0 12px 25px -16px rgb(116, 111, 111);
}

.products .card .btn {
    --bs-btn-padding-x: 0;
    --bs-btn-padding-y: 0;
}

.products .card-footer {
    height: 60px;
    padding-bottom: 10px;
}

.product-price {
    padding-left: 12px;
}

.product-cart-icon {
    padding-right: 12px;
}

.old-price {
	position: relative;
	text-decoration: none;
}

.old-price::before {
	content: "";
	border-bottom: 1px solid rgb(230, 32, 32) !important;
	position: absolute;
	width: 100%;
	height: 55%;
	transform: rotate(-5deg);
}

/* Product card */


/* Page navigation */

nav .pagination {
    margin: 0;
    padding-bottom: 1rem;
}

/* Page navigation */


/* header */

.c-bg-input {
    background-color: rgb(90, 192, 64) !important;
} 
.c-bg-input:focus {
    background-color: rgb(84, 201, 55) !important;
} 
.c-bg-input:hover {
    background-color: rgb(84, 201, 55) !important;
}

.c-navbar-item {
    color: rgba(235, 235, 235, 0.8);
}
.c-navbar-item:hover {
    color: rgba(235, 235, 235, 0.9);
}


.place-holder-color ::placeholder {
    color: var(--bs-navbar-brand-color);   
    opacity: 1; /* Firefox */
}
.place-holder-color :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--bs-navbar-brand-color);
}
.place-holder-color ::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--bs-navbar-brand-color);
}


.product-search {
    position: absolute;
    bottom: 0.35rem;
    left: 50%;
    margin-left: -100px;
    padding-bottom: 4px;
}

/* header */


/* footer */

.footer-icons {
    display: inline-block;
    margin-right: 12px;
    margin-bottom: 15px;
}
footer h4 {
    color: rgb(211, 235, 255);
    text-transform: uppercase;
    font-size: 20px;
    border-bottom: 1px solid #666;
    padding-bottom: 3px;
}
footer a {
    color: rgb(188, 191, 196);
    text-decoration: none;
    transition: all .35s;
}
footer a:hover {
    color: rgb(219, 81, 81) !important;
    text-decoration: underline;
}
footer li {
    color: rgb(138, 143, 150);
}
footer li a {
    display: block;
}

/* footer */

/* modal */

.modal {
    --bs-modal-border-radius: 1rem;
}
.modal-dialog-scrollable .modal-content {
  max-height: 88%;
}
.modal-body .row {
    margin-right: calc(0 * var(--bs-gutter-x));
    margin-left: calc(0 * var(--bs-gutter-x));
}
.modal-body .row > * {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.modal-body .container {
    padding-right: 0;
    padding-left: 0;
}
.carousel-control-next, .carousel-control-prev {
    width: 9%;
}
.modal-header {
    padding: 0.75rem;
    margin-right: 0.5rem;
}

.counter-products {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(243, 243, 243);
    border-radius: 0.8rem;
}

.counter-products .btn {
    --bs-btn-padding-x: 6px;
    --bs-btn-padding-y: 3px;
}

.modal-footer .price-modal {
    display: flex;
    align-self: center;
}

/* modal */


/* form auth */

.container-auth > .row > * {
    padding-right: 1rem;
    padding-left: 1rem;
}

.auth-link {
    text-decoration: none !important; 
}

.auth-link:hover{
    text-decoration: underline !important; 
}

.form-card {
    padding-top: 2rem;
    padding-bottom: 1rem;
    box-shadow: 4px 12px 40px 1px rgba(0, 0, 0, 0.486)
}

.form-auth .nav-tabs {
    border-bottom: none;
}

.form-auth .nav-tabs li{ 
    margin: 0 13px 0 0; 
}

.form-auth .nav-tabs li a {
    color: rgb(182, 194, 194) !important;
    font-size: 23px;
    text-transform: uppercase;
    margin-right: 5px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.form-auth .form-check {
    display: block;
    padding-left: calc(var(--bs-gutter-x) * .5);
}

.form-auth .date_of_birth .form-select {
    display: block;
    width: auto;
}

.form-auth {
    padding: 10px;
}

.form-auth .nav-form {
    margin-bottom: 16px;
}

.form-auth .form-auth-active {
    border-bottom: 2px solid rgb(47, 235, 103);
}

.form-auth ul {
    margin-bottom: 0;
}

.row > * {
    padding-left: 0;

}

/* form auth */


/* form */

form .form-floating input {
    background-color:rgb(250, 245, 250) !important;
}

/* form */


/* remove number buttons */

input[type="number"] {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
}
 
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	display: none;
}

/* remove number buttons */

/* cart */

.cart-card .row > * {
    margin-top: 0;
  }


/* cart */