.navbar {
    align-items: center;
    flex-direction: column;
    --bs-navbar-nav-link-padding-x: 2.5rem;
}

main {
    background-color: rgba(229, 215, 233, 0.877);
}

/* Product card */
.row {
    --bs-gutter-y: 2rem;
    margin-top: 0;
    margin-right: calc(2 * var(--bs-gutter-x));
    margin-left: calc(2 * var(--bs-gutter-x));
}

.card {
    --bs-card-bg: rgba(245, 224, 255, 0.877);
    box-shadow: 0 5px 10px -8px rgb(116, 111, 111);

    --bs-card-border-radius: calc(1.5rem - 2px);
    --bs-card-inner-border-radius: calc(1.5rem - 2px);
    --bs-card-cap-bg: rgba(78, 78, 78, 0.03);
    transition: all .2s;
}

.card:hover {
    box-shadow: 0 12px 25px -16px rgb(116, 111, 111);
}

.link-primary {
    color: #242424 !important;
}

.link-primary:hover {
    color: rgba(219, 100, 100) !important;
}

.card-footer {
    height: 60px;
    padding-bottom: 10px;
}

.product-price {
    padding-left: 12px;
}

.product-price .price-text {
    font-size: 19px;
}

.product-cart-icon {
    padding-right: 12px;
}

.product-price .old-price {
    color: rgba(219, 100, 100, 0.61);
    font-size: 11px;
	position: relative;
	text-decoration: none;
}

.product-price .old-price::before {
	content: "";
	border-bottom: 1px solid rgb(221, 96, 96);
	position: absolute;
	width: 100%;
	height: 55%;
	transform: rotate(-5deg);
}
/* Product card */


/* Page navigation */
nav .pagination {
    margin: 0;
    padding: 1rem 0;
}
/* Page navigation */


/* footer */
footer .navbar-brand {
    font-size: 15px;
}

.footer-icons {
    display: inline-block;
    margin-right: 12px;
    margin-bottom: 15px;
}

footer h4 {
    color: rgb(182, 194, 194);
    text-transform: uppercase;
    font-size: 20px;
    border-bottom: 1px solid #666;
    padding-bottom: 3px;
}

footer a {
    color: rgb(163, 158, 158);
    text-decoration: none;
    transition: all .35s;
}

footer a:hover {
    color: rgba(219, 100, 100, 0.61);
    text-decoration: underline;
}

footer li {
    color: rgb(143, 140, 140);
}

footer li a {
    display: block;
}
/* footer */

/* modal */

.modal {
    --bs-modal-border-radius: 1rem;
    }

.modal-body .row {
    margin-right: calc(0 * var(--bs-gutter-x));
    margin-left: calc(0 * var(--bs-gutter-x));
}

.modal-body .row > * {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.modal-body .container {
    padding-right: 0;
    padding-left: 0;
}

.carousel-control-next, .carousel-control-prev {
    width: 9%;
}

.modal-header {
    padding: 0.75rem;
    margin-right: 0.5rem;
}

.counter-products {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(244, 244, 244);
    border-radius: 0.8rem;
}

.counter-products .counter-item {
    flex: 1 1 auto;
    margin: 0 5px;
}

.modal-footer .price-modal {
    display: flex;
    align-self: center;
}

.modal-footer .price-text {
    font-size: 26px;
}

.modal-footer .old-price {
    color: rgba(219, 100, 100, 0.61);
    font-size: 15px;
	position: relative;
	text-decoration: none;
}

.modal-footer .old-price::before {
	content: "";
	border-bottom: 1px solid rgb(221, 96, 96);
	position: absolute;
	width: 100%;
	height: 55%;
	transform: rotate(-5deg);
}

/* modal */
