{% extends 'base.html' %}

{% block static %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'products/css/style.css' %}">
{% endblock %}


{% block title %} Букеты {% endblock %}


{% block content %}

    {% include 'includes/header.html' %}

    {% for bouquet in bouquets %}

        {% if bouquet.preview %}
            <img src="{{ bouquet.preview.url }}" alt="{{ bouquet.title }}"  class="product-preview"><br>
        {% endif %}

        <a href="{{ bouquet.slug }}" target="_blank">{{ bouquet.title }}</a><br>

        {% if bouquet.discount == 0 %}
            Цена: {{ bouquet.discount_price }} Руб.<br>
        {% else %}
            Цена: <del>{{ bouquet.price }}</del><br>
            Скидка: <sub>{{ bouquet.discount }}%</sub><br>
            Цена со скидкой: {{ bouquet.discount_price }} Руб.<br>
        {% endif %}

        <br><br>
    {% endfor %}

{% endblock %}