{% extends 'products/base.html' %}

{% load static %}

{% block static %}
    <link rel="stylesheet" href="{% static 'home_page/css/style.css' %}">
{% endblock %}


{% block title %} Цветы Киров {% endblock %}


{% block content %}

        {% for flower in flowers %}

            {% for gallery_img in gallery %}
                <img src="{{ gallery_img.image }}" height="300"> <br>
            {% endfor %}

            {{ flower.flower_id }} <br>
            {{ flower.title }} <br>
            {{ flower.slug }} <br>
            {{ flower.description }} <br>
            {{ flower.price }} <br>
            {{ flower.discount }} <br>
            {{ flower.stock }} <br>
            {{ flower.available }} <br>
        {% endfor %}

{% endblock %}