{% load static %}
<link rel="stylesheet" href="{% static 'products/css/style.css' %}">

<footer class="bg-dark">

    <div class="container">

        <div class="row row-cols-xs-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">

            <div class="col">

                <h4>Наши контакты</h4>
                <ul class="list-unstyled">
                    <li><a href="tel:+7-909-141-32-42">+7-909-141-32-42</a></li>
                    <li><a href="mailto:flowershop.kirov@gmail.com">flowershop.kirov@gmail.com</a></li>
                </ul>

            </div>

            <div class="col">

                <h4>Адрес</h4>

                <ul class="list-unstyled">
                    <li>Октябрьский проспект, 2А, ТЦ Север, 1 этаж</li>

                    <li><a href="https://yandex.ru/maps/46/kirov/?ll=49.613600%2C58.638401&mode=poi&poi%5Bpoint%5D=49.613509%2C58.638403&poi%5Buri%5D=ymapsbm1%3A%2F%2Forg%3Foid%3D1675676940&z=21">
                        Посмотреть на карте</a>
                    </li>
                </ul>

            </div>

            <div class="col">

                <h4>Время работы</h4>
                <ul class="list-unstyled">

                    <li>Пн-Пт: 8:00-19:00</li>
                    <li>Сб: 9:30-18:00</li>
                    <li>Вс: 9:30-17:00</li>

                </ul>

            </div>

            <div class="col">

                <h4>Мы в сети</h4>

                <div>
                    <a href="https://vk.com/id141455317" class="footer-icons" target="_blank">
                        <img src="{% static 'products/icons/vk-icon.png' %}" alt="vk.com" width="25px">
                    </a>
                </div>


            </div>

        </div>

    </div>


</footer>


