{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<!-- PC -->
<header class="d-none d-lg-flex navbar navbar-expand-lg navbar-dark bd-navbar sticky-top c-bg-main">
    <nav class="container-xxl bd-gutter flex-wrap flex-lg-nowrap px-sm-4" aria-label="Main navigation">
        
        <div class="d-flex">
            <div class="product-search">
                <form action="{% url 'product_search' %}" method="get" class="col-10 col-xl-12 text-center">
                    <div class="d-flex place-holder-color">
                        {{ search_form.search_text }}
                        <button type="submit" class="btn c-bg-button px-1 btn-border-c-third" aria-label="Search">  
                            <img src="{% static 'icons/magnifying-glass-icon.png' %}" alt="Поиск товаров" width="29" height="29">
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <a class="navbar-brand px-3 px-lg-2 me-0 me-lg-2" href="{% url 'product_list' %}">
            <img src="{% static 'icons/logo-icon.svg' %}" alt="Цветок" width="37px">
            <span class="d-lg-inline-block">Цветок</span>
        </a>
        
        <div class="offcanvas-lg offcanvas-start flex-grow-1 c-bg-main" id="navbarHeaderPC">

            <div class="offcanvas-header border-bottom">
                <h5 class="offcanvas-title c-light" id="bdSidebarOffcanvasLabel">
                    Разделы сайта
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Закрывать" data-bs-target="#navbarHeaderPC"></button>
            </div>

            <div class="offcanvas-body p-4 pt-0 p-lg-0 align-items-center">
                <!-- Mobile - ul = dropdown-menu dropdown-menu-end show -->
                <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav">
                    
                    <li class="nav-item col-auto d-flex">
                        <a class="nav-link c-light p-2" aria-current="true" href="{% url 'product_list' %}">
                            Каталог
                        </a>
                    </li>
                    <li class="nav-item col-auto d-flex">     
                        <a class="nav-link c-light p-2" aria-current="true" href="{% url 'product_list' %}">
                            Доставка
                        </a>
                    </li>
                    <li class="nav-item dropdown col-auto" >
                        <a class="nav-link dropdown-toggle c-light p-2" data-bs-auto-close="outside" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Контакты
                        </a>
                        
                        <ul class="dropdown-menu c-bg-body py-0">

                            <li class="text-center py-0">
                                <span class="dropdown-item c-bg-light rounded-0 rounded-top p-2">
                                    +7-909-141-32-42
                                </span>
                            </li>
                            <li class="text-center py-0">
                                <span class="dropdown-item c-bg-light roudned-0 p-2">
                                    kirov.cvetok@yandex.ru
                                </span>
                            </li>
                            
                            <li class="row justify-content-between m-0 p-0">
                                <div class="col-6 border-end m-0 p-0">
                                    <a class="dropdown-item c-bg-second rounded-0 rounded-start p-2" href="tel:+7-909-141-32-42">
                                        Позвонить
                                    </a>
                                </div>
                                <div class="col-6 m-0 p-0">
                                    <a class="dropdown-item c-bg-second roudned-0 rounded-end p-2" href="mailto:kirov.cvetok@yandex.ru">
                                        Написать
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    
                    <li class="nav-item dropdown col-auto">
                        
                        <a class="nav-link dropdown-toggle c-light p-2" data-bs-auto-close="outside" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Адрес
                        </a>

                        <ul class="dropdown-menu c-bg-body p-0">
                            <li class="text-center border-bottom py-0">
                                <span class="dropdown-item c-bg-light rounded-0 rounded-top p-2">
                                    ТЦ Север, Октябрьский проспект, 2А, 1 этаж
                                </span>
                            </li>
                            <li class="py-0">
                                <iframe src="https://yandex.ru/map-widget/v1/?z=12&ol=biz&oid=1675676940" class="dropdown-item roudned-0 rounded-bottom p-0" width="560" height="400" frameborder="0"></iframe>
                            </li>
                        </ul>
                    </li>
                </ul>
                
                <ul class="navbar-nav flex-row flex-wrap ms-md-auto ">

                    <li class="nav-item dropdown col-auto">
                        {% with total_items=cart.length_cart %}
                            <button class="btn c-bg-button nav-link dropdown-toggle btn-border-c-third" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="{% static 'icons/shopping-bag-icon.png' %}" alt="shopping-bag-icon" width="29px">
                            </button>

                            <ul class="dropdown-menu dropdown-menu-end c-bg-body rounded-3 py-0 ">
                                {% if user.is_authenticated %}
                                    {% if total_items > 0 %}
                                        <li class="text-center py-0">
                                            <h5 class="dropdown-item c-bg-light rounded-top fs-19 p-2 m-0">Товары в корзине</h5>
                                        </li>
                                        <li class="border-top py-0">
                                            <a href="{% url 'cart' %}" class="dropdown-item c-bg-light d-flex justify-content-between p-2">
                                                <span>{{ cart.length_cart }} шт.</span> 
                                                <span>{{ cart.amount }} &#8381;</span>                                 
                                            </a>
                                        </li>
                                        <li class="text-center py-0">
                                            <a href="{% url 'cart' %}" class="dropdown-item btn c-btn-primary rounded-0 rounded-bottom p-2">
                                                Перейти в корзину
                                            </a>
                                        </li>
                                    {% else %}
                                        <p class="dropdown-item">Корзина пуста</p>
                                    {% endif %}
                                {% else %}
                                    <p class="p-2 m-0">
                                        Для добавления товаров в корзину нужно войти в аккаунт
                                    </p>
                                    
                                    <li class="text-center py-0">
                                        <a href="{% url 'login' %}" class="dropdown-item btn c-btn-primary rounded-0 rounded-bottom p-2">
                                            Войти
                                        </a>
                                    </li>

                                {% endif %}
                            </ul>
                        {% endwith %}
                    </li>

                    <li class="nav-item dropdown col-auto">
                        <button class="btn c-bg-button nav-link dropdown-toggle btn-border-c-third" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{% static 'icons/user-icon.png' %}" alt="user-icon" width="29px">
                        </button>

                        <ul class="dropdown-menu dropdown-menu-end c-bg-body rounded-3 text-center py-0">
                            {% if user.is_authenticated %}
                                <li><a class="dropdown-item c-bg-light roudned-0 rounded-top p-2" type="button">{{ user }}</a></li>
                                <li class="py-0">
                                    <a class="dropdown-item c-btn-danger rounded-0 rounded-bottom p-2" href="{% url 'logout' %}">Выйти</a>
                                </li>
                            {% else %}
                                <li><a class="dropdown-item c-bg-light roudned-0 rounded-top p-2" href="{% url 'login' %}">Войти</a></li>
                                <li class="pt-0">
                                    <a class="dropdown-item c-bg-light rounded-0 rounded-bottom p-2" href="{% url 'registration' %}">Зарегистрироваться</a>
                                </li>
                            {% endif %}
                        </ul> 
                    </li>

                    <li class="nav-item py-1 col-auto">
                        <div class="vr d-lg-flex h-100 mx-lg-2 text-white"></div>
                        <hr class="d-lg-none text-white-50">
                    </li>
                    
                    <li class="nav-item col-auto">
                        <a class="nav-linkc-bg-button rounded-3 p-2" href="https://vk.com/id141455317" target="_blank">
                            <img src="{% static 'icons/vk-header-icon.png' %}" alt="vk.com" width="35px">
                        </a>
                    </li>
                </ul>
                
            </div>
        </div>

    </nav>
</header>
<!-- PC -->


<!-- Mobile  -->
<header class="d-flex d-lg-none navbar navbar-expand-lg navbar-dark bd-navbar sticky-top c-bg-main">
    <nav class="container-xxl bd-gutter flex-wrap flex-lg-nowrap px-sm-4" aria-label="Main navigation">
        <div class="bd-navbar-toggle">
            <button class="navbar-toggler p-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarHeaderMobile" aria-controls="navbarHeaderMobile" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon "></span>
            </button>
        </div>
        
        <div class="d-flex">
            <div class="product-search">
                <form action="{% url 'product_search' %}" method="get" class="col text-center">
                    <div class="place-holder-color d-lg-flex">
                        {{ search_form.search_text }}
                        <button type="submit" class="btn c-bg-button" aria-label="Search">  
                            <img src="{% static 'icons/magnifying-glass-icon.png' %}" alt="Поиск товаров" width="29" height="29">
                        </button>
                    </div>

                    <!-- Button for modal in product_list -->
                    <div class="d-flex place-holder-color d-lg-none">
                        <button type="button" class="btn c-bg-button border" data-bs-toggle="modal" data-bs-target="#modalSearch">
                            <span class="c-navbar-item c-light-active">Найти</span>
                            <img src="{% static 'icons/magnifying-glass-icon.png' %}" alt="Поиск товаров" width="29" height="29">
                        </button>
                    </div>

                </form>
            </div>
        </div>

        <a class="navbar-brand px-3 px-lg-2 me-0 me-lg-2" href="{% url 'product_list' %}">
            <img src="{% static 'icons/logo-icon.svg' %}" alt="Цветок" width="38px">
            <span class="d-none d-lg-inline-block">Цветок</span>
        </a>
        
        <div class="offcanvas-lg offcanvas-start flex-grow-1 c-bg-main" id="navbarHeaderMobile">

            <div class="offcanvas-header border-bottom">
                <h5 class="offcanvas-title c-light-active" id="bdSidebarOffcanvasLabel">
                    Разделы сайта
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Закрывать" data-bs-target="#navbarHeaderMobile"></button>
            </div>

            <div class="offcanvas-body p-4 pt-0 p-lg-0 align-items-center">
                <!-- Mobile - ul = dropdown-menu dropdown-menu-end show -->
                <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav">
                    
                    <li class="nav-item col-12 pt-3 pt-lg-0 col-lg-auto d-flex">
                        
                        <a class="nav-link py-2 px-0 px-lg-2 d-none d-lg-block c-light-active" aria-current="true" href="{% url 'product_list' %}">
                            Каталог
                        </a>
                        <a class="nav-link py-2 px-0 px-lg-2 d-lg-none c-light-active" aria-current="true" href="{% url 'product_list' %}">
                            <img class="d-lg-none" src="{% static 'icons/catalog-icon.png' %}" alt="Каталог" width="29" height="29">
                            <small class="d-lg-none ms-2">Каталог</small>
                        </a>
                    </li>

                    <li class="nav-item dropdown col-12 col-lg-auto">
                        <a class="nav-link dropdown-toggle py-2 px-0 px-lg-2 d-none d-lg-block c-light" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Контакты
                        </a>

                        
                        <a class="nav-link dropdown-toggle py-2 px-0 px-lg-2 d-lg-none c-light" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="d-lg-none" src="{% static 'icons/contact-mail-icon.png' %}" alt="Каталог" width="29" height="29">
                            <small class="d-lg-none ms-2">Контакты</small>
                        </a>

                        <ul class="dropdown-menu c-bg-body">
                            <li><a class="dropdown-item" href="tel:+7-909-141-32-42">+7-909-141-32-42</a></li>
                            <li><a class="dropdown-item" href="mailto:kirov.cvetok@yandex.ru">kirov.cvetok@yandex.ru</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown col-12 col-lg-auto">
                        <a class="nav-link dropdown-toggle py-2 px-0 px-lg-2 d-none d-lg-block c-light" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Адрес
                        </a>

                        <a class="nav-link dropdown-toggle py-2 px-0 px-lg-2 d-lg-none c-light" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="d-lg-none" src="{% static 'icons/location-pin-icon.png' %}" alt="Каталог" width="29" height="29">
                            <small class="d-lg-none ms-2">Наш адрес</small>
                        </a>

                        <ul class="dropdown-menu c-bg-body">
                            <li>
                                <span class="dropdown-item">
                                    ТЦ Север, Октябрьский проспект 2А, 1 этаж
                                </span>
                            </li>
                            <li><hr class="dropdown-divider"></li>

                            <li><iframe src="https://yandex.ru/map-widget/v1/?z=12&ol=biz&oid=1675676940" width="560" height="400" frameborder="0"></iframe></li>

                        </ul>
                        
                    </li>

                </ul>
                
                <ul class="navbar-nav flex-row flex-wrap ms-md-auto ">

                    <li class="nav-item dropdown col-12 col-lg-auto me-3">
                        {% with total_items=cart.length_cart %}
                            <button class="btn c-bg-button nav-link dropdown-toggle col" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="{% static 'icons/shopping-bag-icon.png' %}" alt="shopping-bag-icon" width="29px">
                                {% if total_items > 0 %}
                                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                        {{ total_items }}
                                    </span>
                                {% endif %}
                                <small class="d-lg-none ms-2 c-light">Корзина</small>

                            </button>

                            <ul class="dropdown-menu c-bg-body pb-0" style="max-width: 400px;">
                                
                                
                                    {% if user.is_authenticated %}
                                        {% if total_items > 0 %}
                                            {% for item in items %}
                                                {% with product=item.product %}
                                                    
                                                    <li>
                                                        <div class="dropdown-item d-flex justify-content-between align-items-end border-bottom">
                                                            <span class="pe-2">{{ product.title }}({{ item.quantity }} шт.)</span>
                                                            
                                                            <div class="col-3 d-grid text-end">
                                                                {% if item.amount == item.old_amount %}
                                                                    <span class="fs-16">{{ item.amount|floatformat:0 }} &#8381;</span>
                                                                {% else %}
                                                                    <span>
                                                                        <del class="old-price fs-11">{{ item.old_amount|floatformat:0 }} &#8381;</del>
                                                                    </span>
                                                                    <span class="c-new-price fs-16">{{ item.amount|floatformat:0 }} &#8381;</span>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </li>
                                                    
                                                {% endwith %}
                                            {% endfor %}
                                            <li class="mt-3 pt-3 border-top">
                                                <h5 class="dropdown-item">Всего:</h5>
                                                <a href="{% url 'cart' %}" class="dropdown-item d-flex justify-content-between">
                                                    <span>Товаров: {{ cart.length_cart }} шт:</span> 
                                                    <span>{{ cart.amount }} &#8381;</span>                                 
                                                </a>
                                            </li>
                                            <li class="pt-2">
                                                <a href="{% url 'cart' %}" class="dropdown-item btn c-btn-primary">
                                                    Перейти в корзину
                                                </a>
                                            </li>
                                            
                                        {% else %}
                                            <p class="dropdown-item">Корзина пуста</p>
                                        {% endif %}
                                    {% else %}
                                        <p class="dropdown-item">Чтобы добавить товары в корзину - зарегистрируйтесь</p>
                                        <a href="{% url 'login' %}" class="dropdown-item btn">
                                            Зарегистрироваться
                                        </a>
                                    {% endif %}

                            </ul>
                        {% endwith %}
                    </li>

                    <li class="nav-item dropdown col-12 col-lg-auto">
                        <button class="btn c-bg-button nav-link dropdown-toggle col" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{% static 'icons/user-icon.png' %}" alt="user-icon" width="29px">
                            <small class="d-lg-none ms-2 c-light">Профиль</small>
                        </button>

                        <ul class="dropdown-menu c-bg-body">
                            {% if user.is_authenticated %}
                                <li><a class="dropdown-item" type="button">{{ user }}</a></li>
                                <li><a class="dropdown-item" href="{% url 'logout' %}">Выйти</a></li>
                            {% else %}
                                <li><a class="dropdown-item" href="{% url 'login' %}">Войти</a></li>
                                <li><a class="dropdown-item" href="{% url 'registration' %}">Зарегистрироваться</a></li>
                            {% endif %}
                        </ul> 
                    </li>

                    
                    <li class="nav-item py-1 col-12 col-lg-auto">
                        <div class="vr d-none d-lg-flex h-100 mx-lg-2 text-white"></div>
                        <hr class="d-lg-none text-white-50">
                    </li>

                    <li class="nav-item col-12 col-lg-auto">
                        <a class="nav-link py-2 px-0 px-lg-2 c-bg-button rounded-3" href="https://vk.com/id141455317" target="_blank">
                            <img src="{% static 'icons/vk-header-icon.png' %}" alt="vk.com" width="35px">
                            <small class="d-lg-none ms-2 c-light">Наш vk</small>
                        </a>
                    </li>
        
                </ul>
                
            </div>
        </div>

    </nav>
</header>

<!-- Mobile  -->
