{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<header class="sticky-top d-flex d-lg-none navbar navbar-expand-lg navbar-dark bd-navbar c-bg-main">

    <!-- Header top -->
    <nav class="container-fluid bd-gutter flex-wrap px-sm-4" aria-label="MainNavigationMobileCart">
        <div class="bd-navbar-toggle">
            <button class="navbar-toggler rounded-3 p-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarHeaderMobileCart" aria-controls="navbarHeaderMobileCart" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon "></span>
            </button>
        </div>
        <a class="navbar-brand d-inline px-3 me-0" href="{% url 'product_list' %}">
            
            <h1 class="d-flex align-items-center fs-21 m-0">
                <img src="{% static 'icons/logo-icon.svg' %}" alt="Цветок" width="38px">
                Цветок
            </h1>
        </a>
        <div class="d-flex">
            
            <div class="product-search">
                <form action="{% url 'product_search' %}" method="get" class="col text-center">
                    <div class="d-flex place-holder-color">
                        <button type="button" class="btn c-bg-button btn-border-c-third" data-bs-toggle="modal" data-bs-target="#modalSearchMobileCart">
                            <img src="{% static 'icons/magnifying-glass-icon.png' %}" alt="Поиск товаров" width="34px">
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="offcanvas offcanvas-start flex-grow-1 c-bg-main" id="navbarHeaderMobileCart">

            <div class="d-flex align-items-center offcanvas-header border-bottom pb-3 mb-3">
                <h5 class="offcanvas-title c-light-active fs-21" id="bdSidebarOffcanvasLabel">
                    <img src="{% static 'icons/logo-icon.svg' %}" alt="Цветок" width="38px">
                    Цветок
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Закрыть" data-bs-target="#navbarHeaderMobileCart"></button>
            </div>

            <div class="offcanvas-body p-0 ps-3 align-items-center">
                
                <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav me-3">
                    <li class="nav-item dropdown col-12">
                        <a class="d-block d-sm-none nav-link dropdown-toggle c-link-light py-2 px-0" data-bs-auto-close="outside" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{% static 'icons/contact-mail-icon.png' %}" alt="Каталог" width="30px">
                            <span class="ms-2 fs-15">Контакты</span>
                        </a>
                        <a class="d-none d-sm-block nav-link dropdown-toggle c-link-light py-2 px-0" data-bs-auto-close="outside" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{% static 'icons/contact-mail-icon.png' %}" alt="Каталог" width="32px">
                            <span class="ms-2 fs-17">Контакты</span>
                        </a>
                        <ul class="dropdown-menu py-0">

                            <li class="text-center py-0">
                                <span class="dropdown-item c-btn-light rounded-0 rounded-top p-2">
                                    +7-909-141-32-42
                                </span>
                            </li>
                            <li class="text-center py-0">
                                <span class="dropdown-item c-btn-light roudned-0 p-2">
                                    kirov.cvetok@yandex.ru
                                </span>
                            </li>
                            
                            <li class="row justify-content-between m-0 p-0">
                                <div class="col-6 border-end m-0 p-0">
                                    <a class="dropdown-item c-btn-primary text-center rounded-0 rounded-start p-2" href="tel:+7-909-141-32-42">
                                        Позвонить
                                    </a>
                                </div>
                                <div class="col-6 m-0 p-0">
                                    <a class="dropdown-item c-btn-primary text-center roudned-0 rounded-end p-2" href="mailto:kirov.cvetok@yandex.ru">
                                        Написать
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown col-12">
                        <a class="d-block d-sm-none nav-link dropdown-toggle c-link-light pt-2 pb-0 px-0" data-bs-auto-close="outside" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{% static 'icons/location-pin-icon.png' %}" alt="Каталог" width="30px">
                            <span class="ms-2 fs-15">Адрес</span>
                        </a>
                        <a class="d-none d-sm-block nav-link dropdown-toggle c-link-light pt-2 pb-0 px-0" data-bs-auto-close="outside" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{% static 'icons/location-pin-icon.png' %}" alt="Каталог" width="32px">
                            <span class="ms-2 fs-17">Адрес</span>
                        </a>
                        <ul class="dropdown-menu mt-2">
                            <li class="text-center border-bottom py-0">
                                <p class="c-bg-light rounded-0 rounded-top p-2">
                                    ТЦ Север, Октябрьский проспект, 2А, 1 этаж
                                </p>
                            </li>
                            <li class="border rounder-3 py-0">
                                <iframe src="https://yandex.ru/map-widget/v1/?z=12&ol=biz&oid=1675676940" class="dropdown-item roudned-0 rounded-bottom p-0 " height="400px" frameborder="0"></iframe>
                            </li>
                        </ul>
                    </li>
                </ul>
                
                <ul class="navbar-nav flex-row flex-wrap">
                    <li class="col-12 nav-item p-0 m-0">
                        <hr class="text-white">
                    </li>

                    <li class="nav-item col-12">
                        <a class="d-block d-sm-none nav-link c-link-light p-0 px-0" href="https://vk.com/id141455317" target="_blank">
                            <img src="{% static 'icons/vk-header-icon.png' %}" alt="vk.com" width="34px">
                            <span class="ms-2 fs-15">Наш vk</span>
                        </a>

                        <a class="d-none d-sm-block nav-link c-link-light p-0 px-0" href="https://vk.com/id141455317" target="_blank">
                            <img src="{% static 'icons/vk-header-icon.png' %}" alt="vk.com" width="36px">
                            <span class="ms-2 fs-17">Наш vk</span>
                        </a>
                    </li>
                </ul>
                
            </div>
        </div>

    </nav>
    <!-- Header top -->

    <!-- Header bottom -->
    <nav class="container-fluid bd-gutter flex-nowrap c-bg-second fixed-bottom m-0 p-0">
        
        <div class="row col-12 justify-content-between align-items-center m-0 p-2">
                <div class="col-4 text-center m-0">
                    <a class="d-block d-sm-none c-link-main" href="{% url 'product_list' %}">
                        <img src="{% static 'icons/catalog-icon-dark.png' %}" alt="Каталог" width="32px">
                        <br>
                        <span class="fs-16">Каталог</span>
                    </a>
                    <a class="d-none d-sm-block d-md-none c-link-main" href="{% url 'product_list' %}">
                        <img src="{% static 'icons/catalog-icon-dark.png' %}" alt="Каталог" width="35px">
                        <br>
                        <span class="fs-17">Каталог</span>
                    </a>
                    <a class="d-none d-md-block c-link-main" href="{% url 'product_list' %}">
                        <img src="{% static 'icons/catalog-icon-dark.png' %}" alt="Каталог" width="37px">
                        <br>
                        <span class="fs-19">Каталог</span>
                    </a>
                </div>

                <div class="col-4 text-center m-0">
                    <a class="d-block d-sm-none c-link-main" href="{% url 'cart' %}">
                        <img src="{% static 'icons/shopping-bag-icon-dark.png' %}" alt="Корзина" width="32px">
                        <br>
                        <span class="fs-16">Корзина</span>
                    </a>
                    <a class="d-none d-sm-block d-md-none c-link-main" href="{% url 'cart' %}">
                        <img src="{% static 'icons/shopping-bag-icon-dark.png' %}" alt="Корзина" width="35px">
                        <br>
                        <span class="fs-17">Корзина</span>
                    </a>
                    <a class="d-none d-md-block c-link-main" href="{% url 'cart' %}">
                        <img src="{% static 'icons/shopping-bag-icon-dark.png' %}" alt="Корзина" width="37px">
                        <br>
                        <span class="fs-19">Корзина</span>
                    </a>
                </div>

                <div class="col-4 text-center m-0">
                    {% if user.is_authenticated %}
                        <a class="d-block d-sm-none c-link-main" href="{% url 'logout' %}">
                            <img src="{% static 'icons/user-icon-dark.png' %}" alt="Профиль" width="32px">
                            <br>
                            <span class="fs-16">Выйти</span>
                        </a>
                        <a class="d-none d-sm-block d-md-none c-link-main" href="{% url 'logout' %}">
                            <img src="{% static 'icons/user-icon-dark.png' %}" alt="Профиль" width="35px">
                            <br>
                            <span class="fs-17">Выйти</span>
                        </a>
                        <a class="d-none d-md-block c-link-main" href="{% url 'logout' %}">
                            <img src="{% static 'icons/user-icon-dark.png' %}" alt="Профиль" width="37px">
                            <br>
                            <span class="fs-19">Выйти</span>
                        </a>
                    {% else %}
                        <a class="d-block d-sm-none c-link-main" href="{% url 'login' %}">
                            <img src="{% static 'icons/user-icon-dark.png' %}" alt="Профиль" width="32px">
                            <br>
                            <span class="fs-16">Войти</span>
                        </a>
                        <a class="d-none d-sm-block d-md-none c-link-main" href="{% url 'login' %}">
                            <img src="{% static 'icons/user-icon-dark.png' %}" alt="Профиль" width="35px">
                            <br>
                            <span class="fs-17">Войти</span>
                        </a>
                        <a class="d-none d-md-block c-link-main" href="{% url 'login' %}">
                            <img src="{% static 'icons/user-icon-dark.png' %}" alt="Профиль" width="37px">
                            <br>
                            <span class="fs-19">Войти</span>
                        </a>
                    {% endif %}
                </div>
               
            </div>
        </div>
    </nav>
    <!-- Header bottom -->

    <!-- Order conditions nav -->
    <nav class="container-fluid d-flex bd-gutter c-bg-card fixed-bottom order-conditions-mobile p-0">
        <div class="row d-flex flex-wrap col-12 justify-content-between align-items-stretch m-0 p-2">
            <div class="col-6 col-sm-7 col-md-8 text-center m-0 p-0">
                <div class="d-flex d-sm-none align-items-center justify-content-center c-bg-gray border rounded-3 h-100 py-2">
                    <h4 class="fs-17 pe-1">Итого:</h4>
                    <div class="text-end d-grid">
                        {% if cart.get_amount == cart.get_old_amount %}                                           
                            <h4 class="fs-17">{{ cart.amount|floatformat:0 }} &#8381</h4>
                        {% else %}    
                            <span>
                                <del class="old-price fs-11">{{ cart.get_old_amount|floatformat:0 }} &#8381</del>
                            </span>

                            <h4 class="c-new-price fs-17">{{ cart.amount|floatformat:0 }} &#8381</h4>                        
                        {% endif %}
                    </div>
                </div>
                <div class="d-none d-sm-flex d-md-none align-items-center justify-content-center c-bg-gray border rounded-3 h-100 py-2">
                    <h4 class="fs-19 pe-1">Итого:</h4>
                    <div class="text-end d-grid">
                        {% if cart.get_amount == cart.get_old_amount %}                                           
                            <h4 class="fs-19">{{ cart.amount|floatformat:0 }} &#8381</h4>
                        {% else %}    
                            <span>
                                <del class="old-price fs-13">{{ cart.get_old_amount|floatformat:0 }} &#8381</del>
                            </span>

                            <h4 class="c-new-price fs-19">{{ cart.amount|floatformat:0 }} &#8381</h4>                        
                        {% endif %}
                    </div>
                </div>
                <div class="d-none d-md-flex align-items-center justify-content-center c-bg-gray border rounded-3 h-100 py-2">
                    <h4 class="fs-21 pe-1">Итого:</h4>
                    <div class="text-end d-grid">
                        {% if cart.get_amount == cart.get_old_amount %}                                           
                            <h4 class="fs-21">{{ cart.amount|floatformat:0 }} &#8381</h4>
                        {% else %}    
                            <span>
                                <del class="old-price fs-15">{{ cart.get_old_amount|floatformat:0 }} &#8381</del>
                            </span>

                            <h4 class="c-new-price fs-21">{{ cart.amount|floatformat:0 }} &#8381</h4>                        
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-6 col-sm-5 col-md-4 text-center m-0 p-0">
                <div class="d-block d-sm-none h-100 w-100">
                    <button class="fs-17 btn c-btn-accept rounded-3 h-100 w-100">Перейти к оформлению</button>
                </div>
                <div class="d-none d-sm-block d-md-none h-100 w-100">
                    <button class="fs-19 btn c-btn-accept rounded-3 h-100 w-100">Перейти к оформлению</button>
                </div>
                <div class="d-none d-md-block h-100 w-100">
                    <button class="fs-21 btn c-btn-accept rounded-3 h-100 w-100">Перейти к оформлению</button>
                </div>
            </div>
            
        </div>  

    </nav>
    <!-- Order conditions nav -->
</header>
