{% load paginator_tag %}

{% if is_paginated %}
    {% get_proper_elided_page_range paginator page_obj.number 2 1 as page_range %}
    <nav class="pb-2 m-0">
        <ul class="pagination justify-content-center">

            {% for page_num in page_range %}

                {% if page_obj.number == page_num %}
                    <li class="active page-item">
                        <span class="page-link c-btn-primary">{{ page_num }}</span>
                    </li>
                {% elif page_num == paginator.ELLIPSIS %}
                    <li class="page-item">
                        <span class="page-link">{{ paginator.ELLIPSIS }}</span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link c-black" href="?{{ search_text }}page={{ page_num }}">{{ page_num }}</a>
                    </li>
                {% endif %}

            {% endfor %}

        </ul>
    </nav>
{% endif %}