{% extends 'base.html' %}

{% block static %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}


{% block title %} Цветы Киров {% endblock %}


{% block content %}


    {% include 'includes/header-pc-cart.html' %}


    {% include 'includes/header-mobile-cart.html' %}      

    <!-- PC -->
    <div class="container d-none d-lg-block">
        <div class="row mx-0">
            
            {% if items|length > 0 %}
                <h1 class="text-center">Корзина</h1>

                <!-- Item card -->
                <div class="col-lg-8">
                
                    {% for item in items %}
                        {% if item.quantity >= 1  %}
                            <div class="card mb-3 cart-card rounded-3 c-bg-card">
                                <div class="row g-0">

                                    <!-- Carousel -->
                                    <div class="carousel carousel-dark slide col-5 px-2"  id="carouselCart-pc-{{ item.product.id }}" data-bs-ride="carousel" data-bs-touch="true">
                                        {% if item.product.preview %}
                                            <div class="carousel-inner py-2">
                                                <div class="carousel-item active" data-bs-interval="50000">
                                                    <div class="d-flex justify-content-center">
                                                        <img class="d-block w-75" src="{{ item.product.preview.url }}" alt="product {{ product.title }}">
                                                    </div>
                                                </div>

                                                {% for product_image in item.product.productgallery_set.all %}
                                                <div class="carousel-item" data-bs-interval="50000">
                                                    <div class="d-flex justify-content-center">
                                                        <img class="d-block w-75" src="{{ product_image.image.url }}" alt="product {{ product.title }}">
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>

                                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselCart-pc-{{ item.product.id }}" data-bs-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Назад</span>
                                            </button>
                                            <button class="carousel-control-next" type="button" data-bs-target="#carouselCart-pc-{{ item.product.id }}" data-bs-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Дальше</span>
                                            </button>
                                        {% else %}
                                            <img src="{% static 'icons/image_not_found.jpeg' %}"
                                            alt="item.product.title" class="img-fluid rounded-start">
                                        {% endif %}
                                    </div>
                                    <!-- Carousel -->

                                    <!-- Text  -->
                                    <div class="col-7">
                                        <div class="card-body border-bottom p-3">
                                            <h2 class="card-title text-center fs-21 pb-4 m-0">{{ item.product.title }}</h2>

                                            <div class="d-flex justify-content-between align-items-end p-0">         
                                                
                                                <div class="text-end d-grid d-xl-none">
                                                    {% if item.product.discount == 0 %}
                                                        <span class="fs-16">
                                                            {{ item.product.new_price }} &#8381;
                                                        </span>
                                                    {% else %}
                                                        <div class="d-grid">
                                                            <span>
                                                                <del class="old-price fs-11">{{ item.product.price }} &#8381;</del>
                                                            </span>
                                                            <span>
                                                                <span class="c-new-price fs-16">{{ item.product.new_price }} &#8381;</span>
                                                            </span>
                                                        </div>
                                                    {% endif %}
                                                </div> 
                                                <div class="text-end d-none d-xl-grid d-xxl-none">
                                                    {% if item.product.discount == 0 %}
                                                        <span class="fs-17">
                                                            {{ item.product.new_price }} &#8381;
                                                        </span>
                                                    {% else %}
                                                        <div class="d-grid">
                                                            <span>
                                                                <del class="old-price fs-13">{{ item.product.price }} &#8381;</del>
                                                            </span>
                                                            <span>
                                                                <span class="c-new-price fs-17">{{ item.product.new_price }} &#8381;</span>
                                                            </span>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                                <div class="text-end d-none d-xxl-grid">
                                                    {% if item.product.discount == 0 %}
                                                        <span class="fs-19">
                                                            {{ item.product.new_price }} &#8381;
                                                        </span>
                                                    {% else %}
                                                        <div class="d-grid">
                                                            <span>
                                                                <del class="old-price fs-15">{{ item.product.price }} &#8381;</del>
                                                            </span>
                                                            <span>
                                                                <span class="c-new-price fs-19">{{ item.product.new_price }} &#8381;</span>
                                                            </span>
                                                        </div>
                                                    {% endif %}
                                                </div>

                                                <ul class="list-group list-group-horizontal rounded-3">
                                                    <li class="list-group-item py-0">
                                                        <form action="{% url 'remove_one_item_to_cart' item.product.id %}" method="post">
                                                            {% csrf_token %}
                                                            <button type="submit" class="btn px-3 py-2">
                                                                <img src="{% static 'icons/minus-icon.svg' %}" alt="minus-item" width="15rem">
                                                            </button>
                                                        </form>
                                                    </li>

                                                    <li class="list-group-item align-items-center d-grid py-0">
                                                        <span class="px-3 py-1">{{ item.quantity }}</span>
                                                    </li>

                                                    <li class="list-group-item py-0">
                                                        <form action="{% url 'add_one_item_to_cart' item.product.id %}" method="post">
                                                            {% csrf_token %}
                                                            <button type="submit" class="btn px-3 py-2">
                                                                <img src="{% static 'icons/plus-icon.svg' %}" alt="plus-item" width="15rem">
                                                            </button>
                                                        </form>
                                                    </li>     
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="row d-xl-none m-0 p-3">
                                            <form class="col-7 m-0 p-0" action="{% url 'remove_item_to_cart' item.product.id %}" method="post">
                                                {% csrf_token %}
                                                <button type="submit" class="btn text-start c-link-danger fs-14 p-0">Удалить из корзины</button>
                                            </form>

                                            <div class="d-grid col m-0 p-0">
                                                <h4 class="text-start fs-19 pb-1">Всего:</h4>
                                                {% if item.amount == item.old_amount %}
                                                    <h4 class="fs-17">{{ item.amount }} &#8381</h4>
                                                {% else %}
                                                    <span>
                                                        <del class="old-price fs-13">{{ item.old_amount }} &#8381</del>
                                                    </span>

                                                    <h4 class="c-new-price fs-17">{{ item.amount }} &#8381</h4>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row d-none d-xl-flex d-xxl-none m-0 p-3">
                                            <form class="col-7 m-0 p-0" action="{% url 'remove_item_to_cart' item.product.id %}" method="post">
                                                {% csrf_token %}
                                                <button type="submit" class="btn text-start c-link-danger fs-16 p-0">Удалить из корзины</button>
                                            </form>

                                            <div class="d-grid col m-0 p-0">
                                                <h4 class="text-start fs-21 pb-1">Всего:</h4>
                                                {% if item.amount == item.old_amount %}
                                                    <h4 class="fs-19">{{ item.amount }} &#8381</h4>
                                                {% else %}
                                                    <span>
                                                        <del class="old-price fs-14">{{ item.old_amount }} &#8381</del>
                                                    </span>

                                                    <h4 class="c-new-price fs-19">{{ item.amount }} &#8381</h4>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row d-none d-xxl-flex m-0 p-3">
                                            <form class="col-7 m-0 p-0" action="{% url 'remove_item_to_cart' item.product.id %}" method="post">
                                                {% csrf_token %}
                                                <button type="submit" class="btn text-start c-link-danger fs-17 p-0">Удалить из корзины</button>
                                            </form>

                                            <div class="d-grid col m-0 p-0">
                                                <h4 class="text-start fs-21 pb-1">Всего:</h4>
                                                {% if item.amount == item.old_amount %}
                                                    <h4 class="fs-21">{{ item.amount }} &#8381</h4>
                                                {% else %}
                                                    <span>
                                                        <del class="old-price fs-17">{{ item.old_amount }} &#8381</del>
                                                    </span>

                                                    <h4 class="c-new-price fs-21">{{ item.amount }} &#8381</h4>
                                                {% endif %}
                                            </div>
                                        </div>

                                    </div>
                                    <!-- Text  -->

                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- Item card -->

            {% else %}
                <div class="text-center">
                    <h1>Корзина пуста</h1>
                    <br>
                    <form action="{% url 'product_list' %}" target="_self" method="get">
                        <button class="btn c-btn-primary fs-30 px-5">В каталог</button>
                    </form>
                </div>
            {% endif %}
        </div>
    </div>
    <!-- PC -->


    <!-- Mobile -->
    <div class="container d-flex d-lg-none">
        <div class="row">
            
            {% if items|length > 0 %}
                <h1 class="text-center">Корзина</h1>
                <div class="col-12 col-md-6 col-xl-8">
                
                    {% for item in items %}
                        {% if item.quantity >= 1  %}
                            <div class="card mb-3 cart-card rounded-3 c-bg-card">
                                <div class="row g-0">

                                    <div class="col-md-3">
                                        {% if item.product.preview %}
                                            <img src="{{ item.product.preview.url }}"
                                            alt="item.product.title" class="img-fluid rounded-start">
                                        {% else %}
                                            <img src="{% static 'icons/image_not_found.jpeg' %}"
                                            alt="item.product.title" class="img-fluid rounded-start">
                                        {% endif %}
                                    </div>

                                    <div class="col-md-9">
                                        <div class="card-body border-bottom">
                                            <h5 class="card-title">{{ item.product.title }}</h5>
                                            <div class="d-flex flex-row-reverse align-items-end">

                                                
                                                <div class="p-2">
                                                    <ul class="list-group list-group-horizontal rounded-3">
                                                        <li class="list-group-item py-0">
                                                            <form action="{% url 'remove_one_item_to_cart' item.product.id %}" method="post">
                                                                {% csrf_token %}
                                                                <button type="submit" class="btn px-3 py-2">
                                                                    <img src="{% static 'icons/minus-icon.svg' %}" alt="shopping-bag-icon" width="15rem">
                                                                </button>
                                                            </form>
                                                        </li>
                                                        <li class="list-group-item align-items-center d-grid py-0">
                                                            <span class="px-3 py-1">{{ item.quantity }}</span>
                                                        </li>
                                                        <li class="list-group-item py-0">
                                                            <form action="{% url 'add_one_item_to_cart' item.product.id %}" method="post">
                                                                {% csrf_token %}
                                                                <button type="submit" class="btn px-3 py-2">
                                                                    <img src="{% static 'icons/plus-icon.svg' %}" alt="shopping-bag-icon" width="15rem">
                                                                </button>
                                                            </form>
                                                        </li>
                                                    </ul>
                                                </div>
                                                
                                                <div class="p-2 text-end d-grid">
                                                    {% if item.amount == item.old_amount %}
                                                        <span class="fs-19">{{ item.amount }} &#8381</span>
                                                    {% else %}
                                                        <span>
                                                            <del class="old-price fs-13">{{ item.old_amount }} &#8381</del>
                                                        </span>

                                                        <span class="c-new-price fs-19">{{ item.amount }} &#8381</span>
                                                    {% endif %}
                                                </div>

                                                
                                            </div>
                                        </div>
                                        <form action="{% url 'remove_item_to_cart' item.product.id %}" method="post" class="py-1 px-1">
                                            {% csrf_token %}
                                            <button type="submit" class="btn">Удалить</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                
            {% else %}
                <div class="text-center">
                    <h1>Корзина пуста</h1>
                    <br>
                    <form action="{% url 'product_list' %}" target="_self" method="get">
                        <button class="btn btn-light">В каталог</button>
                    </form>
                </div>
            {% endif %}
        </div>

    </div>

    <!-- Mobile -->

{% endblock %}