{% extends 'base.html' %}
{% block static %} {% load static %} {% endblock %}
{% block title %} Оформление заказа {% endblock %}
{% block robots %} <meta name="robots" content="none"> {% endblock %}

{% block content %}
    <div class="alert alert-success h-100" style="min-height: 100vh;" role="alert">
        <div class="text-center">
            <h4 class="alert-heading">Заказ принят!</h4>
            <p>Ожидайте, скоро мы вым перезвоним!</p>
            <hr>

            <form action="{% url 'product_list' %}" target="_self">
                <button class="btn btn-success">Вернуться на главную страницу</button>
            </form>
        </div>
    </div>
{% endblock %}