{% extends 'base.html' %}

{% block static %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}


{% block title %} Оформление заказа {% endblock %}


{% block content %}
    
    <main>
        <div class="container justify-content-center">
            <h1 class="text-center mt-3">Оформление заказа</h1>


            <!-- DropDown -->
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle col show" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Оформляем товаров: {{ cart.length_cart }} шт. на сумму {{ cart.get_amount|floatformat:0 }}&#8381;
                    </a>

                    <ul class="dropdown-menu p-2" style="--bs-dropdown-min-width: 26rem;">

                        {% for item in items %}
                            {% with product=item.product %}
                            
                            <li>
                                <div class="row align-items-end pb-2 border-bottom">
                                    <span class="col-9">{{ product.title }} ({{ item.quantity }} шт.)</span>
                                    
                                    <div class="col-3 text-end d-grid">
                                        {% if item.amount == item.old_amount %}
                                            <span class="fs-16">{{ item.amount|floatformat:0 }} &#8381;</span>
                                        {% else %}
                                            <span>
                                                <del class="old-price fs-11">{{ item.old_amount|floatformat:0 }} &#8381;</del>
                                            </span>

                                            <span class="c-new-price fs-16">{{ item.amount|floatformat:0 }} &#8381;</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </li>

                            {% endwith %}
                        {% endfor %}

                    </ul>
                </li>
            </ul>
            <!-- DropDown -->

            <!-- Form -->
            <div class="row mt-4">
                
                <div class="col-12">
                    <div class="container-fluid border p-3 shadow rounded-3 c-bg-form">
                        <form method="post" action="{% url 'order_create' %}" class="row g-3 needs-validation ">
                            {% csrf_token %}
                            <div class="form-floating mb-2 col-md-12 position-relative">
                                {% if form.first_name.errors %}
                                    {{ form.first_name }}
                                    <label for="{{ form.first_name.id_for_label }}" class="form-label">Ваше имя</label>
                                    
                                    <div class="text-danger">
                                        <small>{{ form.first_name.errors }}</small>
                                    </div>
                                {% else %}
                                    {{ form.first_name }}
                                    <label for="{{ form.first_name.id_for_label }}" class="form-label">Ваше имя</label>
                                {% endif %}
                            </div>

                            <div class="form-floating mb-2 col-md-12 position-relative">
                                {% if form.phone.errors %}
                                    {{ form.phone }}
                                    <label for="{{ form.phone.id_for_label }}" class="form-label">Номер телефона</label>
                                    
                                    <div class="text-danger">
                                        <small>{{ form.phone.errors }}</small>
                                    </div>
                                {% else %}
                                    {{ form.phone }}
                                    <label for="{{ form.phone.id_for_label }}" class="form-label">Номер телефона</label>
                                {% endif %}
                            </div>

                            <div class="form-floating mb-2 col-md-12 position-relative">
                                {% if form.address.errors %}
                                    {{ form.address }}
                                    <label for="{{ form.address.id_for_label }}" class="form-label">Адрес получателя</label>
                                    
                                    <div class="text-danger">
                                        <small>{{ form.address.errors }}</small>
                                    </div>
                                {% else %}
                                    {{ form.address }}
                                    <label for="{{ form.address.id_for_label }}" class="form-label">Адрес получателя</label>
                                {% endif %}
                            </div>

                            <fieldset class="row mb-2">
                                <legend class="col-form-label col-sm-3 pt-0">Способ получения</legend>

                                <div class="col-sm-9">
                                    {% for radio in form.receipt_method %}
                                        {% if radio.errors %}
                                            <div class="">
                                                {{ radio.tag }}
                                                <label class="form-check-label" for="{{radio.id_for_label}}">
                                                    {{ radio.choice_label }}
                                                </label>
                                            </div>

                                            <div class="text-danger">
                                                <small>{{ radio.errors }}</small>
                                            </div>
                                        {% else %}
                                            <div class="">
                                                {{ radio.tag }}
                                                <label class="form-check-label" for="{{radio.id_for_label}}">
                                                    {{ radio.choice_label }}
                                                </label>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </fieldset>

                            <fieldset class="row mb-2">
                                <legend class="col-form-label col-sm-3 pt-0">Способ оплаты</legend>

                                <div class="col-sm-9 ">

                                    {% if form.payment_method.errors %}
                                        <div class="accordion" id="accordionExample">
                                            <div class="accordion-item c-form">
                                                <h2 class="accordion-header" id="headingOne">
                                                    <button class="accordion-button c-form" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" 
                                                    aria-expanded="true" aria-controls="collapseOne">
                                                        Оплата при получении
                                                    </button>
                                                </h2>
                                                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body">
                                                        <div class="border-bottom mb-3 pb-3">
                                                            <input type="radio" name="payment_method" value="1" class="form-check-input" id="id_payment_method_0" required="" data-bs-target="#cash">
                                                            <label class="form-check-label" for="id_payment_method_0">
                                                                Наличные
                                                            </label>
                                                        
                                                            <input type="radio" name="payment_method" value="2" class="form-check-input" id="id_payment_method_1" required="" data-bs-target="#nonCash">
                                                            <label class="form-check-label" for="id_payment_method_1">
                                                                Безналичные
                                                            </label>
                                                        </div>

                                                        <div class="text-danger">
                                                            <small>{{ radio.errors }}</small>
                                                        </div>

                                                        <button class='btn btn-danger' type="submit">
                                                            Заказать
                                                        </button> 
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item c-form">
                                                <h2 class="accordion-header" id="headingTwo" tabindex="0" data-bs-toggle="tooltip" id="headingTwo" data-bs-title="Онлайн оплата сейчас недоступна.">
                                                    <button class="accordion-button collapsed c-form" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" 
                                                    aria-expanded="false" aria-controls="collapseTwo" disabled>
                                                        Оплата онлайн
                                                    </button>
                                                </h2>
                                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body">
                                                        <div class="border-bottom mb-3 pb-3">
                                                            <input type="radio" name="payment_method" value="3" class="form-check-input" id="id_payment_method_2" required="" data-bs-target="#nonCash">
                                                            <label class="form-check-label" for="id_payment_method_2">
                                                                Оплата картой
                                                            </label>
                                                        </div>

                                                        <div class="text-danger">
                                                            <small>{{ radio.errors }}</small>
                                                        </div>

                                                        <button class='btn btn-danger' type="submit">   
                                                            Оформить сейчас
                                                        </button>                                            
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    {% else %}
                                        <div class="accordion" id="accordionExample">
                                            <div class="accordion-item c-form">
                                                <h2 class="accordion-header" id="headingOne">
                                                    <button class="accordion-button c-form" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                        Оплата при получении
                                                    </button>
                                                </h2>
                                                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body">
                                                        <div class="border-bottom mb-3 pb-3">
                                                            <input type="radio" name="payment_method" value="1" class="form-check-input" id="id_payment_method_0" required="" data-bs-target="#cash">
                                                            <label class="form-check-label" for="id_payment_method_0">
                                                                Наличные
                                                            </label>
                                                        
                                                            <input type="radio" name="payment_method" value="2" class="form-check-input" id="id_payment_method_1" required="" data-bs-target="#nonCash">
                                                            <label class="form-check-label" for="id_payment_method_1">
                                                                Безналичные
                                                            </label>
                                                        </div>
                                                        
                                                        <button class='btn btn-danger' type="submit">Заказать</button> 
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item c-form">
                                                    
                                                <h2 class="accordion-header" id="headingTwo" tabindex="0" data-bs-toggle="tooltip" id="headingTwo" data-bs-title="Онлайн оплата сейчас недоступна.">
                                                    <button class="accordion-button collapsed c-form" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" 
                                                    aria-expanded="false" aria-controls="collapseTwo" disabled>
                                                        Оплата онлайн
                                                    </button>
                                                </h2>
                                                
                                                    <!-- <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" 
                                                    disabled aria-expanded="false" aria-controls="collapseTwo"

                                                    data-bs-toggle="tooltip" data-bs-placement="top"
                                                    data-bs-custom-class="custom-tooltip"
                                                    data-bs-title="This top tooltip is themed via CSS variables.">
                                                        Оплата онлайн
                                                    </button> -->
                                                
                                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body">
                                                        <div class="border-bottom mb-3 pb-3">
                                                            <input type="radio" name="payment_method" value="3" class="form-check-input" id="id_payment_method_2" required="" data-bs-target="#nonCash">
                                                            <label class="form-check-label" for="id_payment_method_2">
                                                                Оплата картой
                                                            </label>
                                                        </div>
                                                        
                                                        <button class='btn btn-danger' type="submit">   
                                                            Оформить сейчас
                                                        </button>                                            
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}

                                </div>
                            </fieldset>
                        </form>

                        <script>
                            const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
                            const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
                        </script>
                    </div>
                </div>
            </div>
            <!-- Form -->

        </div>
    </main>


{% endblock %}