{% extends "base.html" %}

{% block static %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'products/css/style.css' %}">
{% endblock %}

{% block title %} Подтвердите почты {% endblock %}
{% block robots %} <meta name="robots" content="none"> {% endblock %}

{% block content %}

    <div class="alert alert-success h-100 pt-2" style="min-height: 100vh;" role="alert">

        <div class="text-center">
            <h4 class="alert-heading">Успешно!</h4>
            <p>Ссылка для подтверждения аккаунта отправлена на вашу электронную почту.
                Перейдите по ней, чтоб завершить регистрацию!
            </p>
            <hr>

            <form action="{% url 'product_list' %}" target="_self">
                <button class="btn btn-success">Вернуться на главную страницу</button>
            </form>
        </div>

    </div>

{% endblock %}