{% extends 'base.html' %}

{% block static %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'products/css/style.css' %}">
{% endblock %}


{% block title %} Изменение пароля {% endblock %}
{% block robots %} <meta name="robots" content="none"> {% endblock %}


{% block content %}

    <!-- PC -->
    <div class="d-none d-md-flex position-absolute top-50 start-50 translate-middle justify-content-center">
        <div class="c-bg-form border rounded-3 px-4 py-2" style="width: 550px;">

            <ul class="nav pb-3">
                <li class="nav-item ps-0 pe-2 py-2">
                    <a class="c-link-auth fs-24 pe-1" href="{% url 'login' %}">ГЛАВНАЯ</a>
                </li>
                <li class="nav-item ps-0 pe-2 py-2">
                    <a class="c-link-auth-active fs-24 pb-1" href="{% url 'registration' %}">ИЗМЕНЕНИЕ ПАРОЛЯ</a>
                </li>
            </ul>

            <form method="post" action="{% url 'password_change' %}" class="row g-3 p-2">
                {% csrf_token %}

                <div class="form-floating p-0">
                    {% if form.old_password.errors %}
                        {{ form.old_password }}
                        <label for="{{ form.old_password.id_for_label }}" class="form-label">Введите старый пароль</label>
                        <div class="text-danger">
                            <small>{{ form.old_password.errors }}</small>
                        </div>
                    {% else %}
                        {{ form.old_password }}
                        <label for="{{ form.old_password.id_for_label }}" class="form-label">Введите старый пароль</label>
                    {% endif %}
                </div>

                <div class="form-floating p-0">
                    {{ form.new_password1 }}
                    <label for="{{ form.new_password1.id_for_label }}" class="form-label">Введите новый пароль</label>
                </div>

                <div class="form-floating p-0">
                    {{ form.new_password2 }}
                    <label for="{{ form.new_password2.id_for_label }}" class="form-label">Подтвердите новый пароль</label>
                </div>

                {% for error in form.non_field_errors %}
                    <div class="invalid-feedback d-block p-0">
                        {{ error }}
                    </div>
                {% endfor %}

                <button class='btn c-btn-form-primary' type="submit">Сбросить пароль</button>
            </form>

        </div>
    </div>
    <!-- PC -->


    <!-- Mobile -->
    <div class="d-flex d-md-none row justify-content-center c-bg-form h-100 pt-2" style="min-height: 100vh;">
        <div class="c-bg-form px-4 py-3">

            <ul class="d-flex nav justify-content-center pb-3">
                <li class="nav-item ps-0 pe-2 py-2">
                    <a class="c-link-auth fs-19 pe-1" href="{% url 'login' %}">ГЛАВНАЯ</a>
                </li>
                <li class="nav-item ps-0 pe-2 py-2">
                    <a class="c-link-auth-active fs-19 pb-1" href="{% url 'registration' %}">ИЗМЕНЕНИЕ ПАРОЛЯ</a>
                </li>
            </ul>

            <form method="post" action="{% url 'password_reset' %}" class="row justify-content-center g-3 p-2">
                {% csrf_token %}

                <div class="form-floating col-12 col-sm-8 p-0">
                    {% if form.old_password.errors %}
                        {{ form.old_password }}
                        <label for="{{ form.old_password.id_for_label }}" class="form-label">Введите старый пароль</label>
                        <div class="text-danger">
                            <small>{{ form.old_password.errors }}</small>
                        </div>
                    {% else %}
                        {{ form.old_password }}
                        <label for="{{ form.old_password.id_for_label }}" class="form-label">Введите старый пароль</label>
                    {% endif %}
                </div>

                <div class="form-floating col-12 col-sm-8 p-0">
                    {{ form.new_password1 }}
                    <label for="{{ form.new_password1.id_for_label }}" class="form-label">Введите новый пароль</label>
                </div>

                <div class="form-floating col-12 col-sm-8 p-0">
                    {{ form.new_password2 }}
                    <label for="{{ form.new_password2.id_for_label }}" class="form-label">Подтвердите новый пароль</label>
                </div>

                {% for error in form.non_field_errors %}
                    <div class="invalid-feedback d-block p-0">
                        {{ error }}
                    </div>
                {% endfor %}

                <button class='btn c-btn-form-primary col-12 col-sm-8' type="submit">Сбросить пароль</button>
            </form>

        </div>
    </div>
    <!-- Mobile -->

{% endblock %}