{% extends 'base.html' %}

{% block static %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}


{% block title %} Сброс пароля {% endblock %}


{% block content %}

    <main>
        <div class="container-fluid container-auth">
            <div class="row d-flex justify-content-center align-items-center">
                
                <div class="col col-11 col-sm-11 col-md-9 col-lg-7 col-xl-3 col-xxl-3 rounded-4 
                bg-dark position-absolute top-50 start-50 translate-middle form-card">
                
                    <form method="post" action="" class="row g-3 needs-validation form-auth">
                        {% csrf_token %}

                        <ul class="nav nav-tabs nav-form" role="tablist">
                            <li role="presentation">
                                <a href="{% url 'login' %}" aria-controls="login" role="tab" data-toggle="tab">вход</a>
                            </li>
                            <li role="presentation" class="form-auth-active">
                                <a href="{% url 'password_reset' %}" aria-controls="registration" role="tab" data-toggle="tab">сброс пароля</a>
                            </li>
                        </ul>

                        <div class="form-floating mb-2 col-md-12 position-relative">
                            {% if form.email.errors %}
                                {{ form.email }}
                                <label for="{{ form.email.id_for_label }}" class="form-label">Адрес вашей электронной почты</label>
                                <div class="text-danger">
                                    <small>{{ form.email.errors }}</small>
                                </div>
                            {% else %}
                                {{ form.email }}
                                <label for="{{ form.email.id_for_label }}" class="form-label">Адрес вашей электронной почты</label>
                            {% endif %}
                        </div>

                        {% if form.email.errors %}
                            <a class='text-info auth-link' href="{% url 'registration' %}">Зарегистрироваться</a>
                        {% endif %}

                        <button class='btn btn-success' type="submit">Сбросить пароль</button>
                    </form>

                </div>
            </div>
        </div>
    </main>

{% endblock %}