{% extends "base.html" %}

{% block static %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </symbol>
    </svg>
{% endblock %}

{% block title %}
    Изменение пароля
{% endblock %}

{% block content %}

    {% if validlink %}

        <main>
            <div class="container-fluid container-auth">
                <div class="row d-flex justify-content-center align-items-center">
                    
                    <div class="col col-11 col-sm-11 col-md-9 col-lg-7 col-xl-3 col-xxl-3 rounded-4
                    bg-dark position-absolute top-50 start-50 translate-middle form-card">
                    
                        <form method="post" action="" class="row g-3 needs-validation form-auth">
                            {% csrf_token %}

                            <ul class="nav nav-tabs nav-form" role="tablist">
                                <li role="presentation" class="form-auth-active">
                                    <a href="" aria-controls="registration" role="tab" data-toggle="tab">Изменение пароля</a>
                                </li>
                            </ul>
                            
                            <div class="form-floating mb-2 col-md-12 position-relative">
                                {{ form.new_password1 }}
                                <label for="{{ form.new_password1.id_for_label }}" class="form-label">Новый пароль</label>
                            </div>

                            <div class="form-floating mb-2 col-md-12 position-relative">
                                {{ form.new_password2 }}
                                <label for="{{ form.new_password2.id_for_label }}" class="form-label">Подтвердите пароль</label>
                            </div>
                            
                            <div class="invalid-feedback d-block">
                                {{ form.new_password2.errors }}
                            </div>

                            <button class='btn btn-success' type="submit">Изменить пароль</button>
                        </form>

                        
                        <a class="text-info auth-link" href="{% url 'product_list' %}">На главную страницу</a>

                    </div>
                </div>
            </div>
        </main>

    {% else %}

        <div class="alert alert-danger" role="alert">

            <div class="container text-center">
                <h4 class="alert-heading">Ошибка!</h4>
                <p>Эта ссылка уже была использована, если это были не вы, то измените пароль!</p>
                <hr>

                <div class="row g-3 justify-content-center">
            
                    <div class="col-2">
                        <form action="{% url 'product_list' %}" target="_self">
                            <button class="btn btn-danger col-md-10">На главную</button>
                        </form>
                    </div>

                    <div class="col-2">
                        <form action="{% url 'login' %}" target="_self">
                            <button class="btn btn-danger col-md-10">Войти в аккаунт</button>
                        </form>
                    </div>
                    
                    <div class="col-2">
                        <form action="{% url 'password_reset' %}" target="_self">
                            <button class="btn btn-danger col-md-10">Изменить пароль</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>

    {% endif %}

{% endblock %}
