{% extends "base.html" %}

{% block static %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'products/css/style.css' %}">
{% endblock %}

{% block title %} Сбросить пароль {% endblock %}

{% block content %}

    <div class="alert alert-success" role="alert">

        <div class="text-center">
            <h4 class="alert-heading">Готово!</h4>
            <p>Ваш пароль был изменен. Теперь вы можете войти.</p>
            <hr>

            <form action="{% url 'login' %}" target="_self">
                <button class="btn btn-success">Войти</button>
            </form>
        </div>

    </div>

{% endblock %}
