{% extends 'base.html' %}

{% block static %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'products/css/style.css' %}">
{% endblock %}


{% block title %} bouquet.title {% endblock %}


{% block content %}

    {% include 'includes/header.html' %}

    {% for product in gallery_bouquet %}
        {% if product.image %}
            <img src="{{ product.image.url }}" height="300"><br>
        {% endif %}
    {% endfor %}

    {{ bouquet.title }}<br>
    Описание: {{ bouquet.description }}<br>

    {% if bouquet.discount == 0 %}
        Цена: {{ bouquet.discount_price }} Руб.<br>
    {% else %}
        Цена: <del>{{ bouquet.price }}</del><br>
        Скидка: {{ bouquet.discount }}%<br>
        Цена со скидкой: {{ bouquet.discount_price }} Руб.<br>
    {% endif %}

    {% if bouquet.status == 3 %}
        {{ bouquet.get_status_display }}<br>
    {% endif %}
    
    <form action="{% url 'cart:cart_remove_one' bouquet.id %}" method="post">
        {% csrf_token %}
        
        <input type="submit" value="-">
    </form>


    
    {{ quantity }}

    <form action="{% url 'cart:cart_add_one' bouquet.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="+">
    </form>

    <p>Hello</p>
    <form action="{% url 'cart:cart_add_all' bouquet.id %}" method="post">
        {% csrf_token %}
        
        {{ cart_bouquet_form.quantity }}
        <input type="submit" value="+">
    </form>

    Букет состоит из:
    <ul>
        {% for product_flower in composition %}

            <li>{{ product_flower.flower.title }}</li>

        {% endfor %}
    </ul>

{% endblock %}