{% extends 'base.html' %}

{% block static %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'products/css/style.css' %}">
{% endblock %}


{% block title %} Цветы {% endblock %}


{% block content %}

        {% include 'includes/header.html' %}

        <main>
            <div class="container">

                <div class="row row-cols-1 row-cols-xs-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-4 row-cols-xxl-5 justify-content-center">
                    {% for bouquet in bouquets %}
                        <div class="col justify-content-center">

                                <div class="card">
                                    <!-- style="width: 11rem; -->


                                    <a href="{{ bouquet.slug }}" style="text-decoration:none;">

                                        <img src="{{ bouquet.preview.url }}" class="card-img-top" alt="{{ bouquet.preview.url }}">

                                        <div class="card-body text-center">
                                            <h5 class="bouquet-title link-primary bouquet-title">
                                                {{ bouquet.title }}
                                            </h5>

                                            <!-- <h6 class="card-text">
                                            </h6> -->
                                        </div>
                                    </a>

                                    <div class="card-footer d-flex justify-content-between align-items-end">

                                        <div class="product-price">

                                            {% if bouquet.discount == 0 %}

                                                <span class="price-text">
                                                    {{ bouquet.discount_price|floatformat:0 }} &#8381;
                                                </span>

                                            {% else %}

                                                <div class="price-product-with-discoint">
                                                    <span>
                                                        <del>{{ bouquet.price|floatformat:0 }} &#8381;</del>
                                                    </span>

                                                    <br style="display: block; margin-bottom: -10px;">

                                                    <span class="price-text">
                                                        {{ bouquet.discount_price|floatformat:0 }} &#8381;
                                                    </span>
                                                </div>

                                            {% endif %}

                                        </div>

                                        <div class="product-cart-icon">
                                            <a href="#">
                                                <img src="{% static 'products/icons/shopping-bag-icon.png' %}" alt="shopping-bag-icon" width="35rem">
                                            </a>
                                        </div>

                                    </div>
                                </div>

                        </div>
                    {% endfor %}
                </div>

                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>


            </div>
        
        </main>

        {% include 'includes/footer.html' %}

    </div>
{% endblock %}