{% extends 'base.html' %}
{% block static %}{% load static %}{% endblock %}
{% block title %}Цветок - Доставка цветов в Кирове{% endblock %}
{% block description %}<meta name="description" content="У нас вы можете заказать доставку цветов дешево или купить цветы прямо в ТЦ Север по адресу г.Киров, ул.Октябрьский проспект, 2А, 1 этаж. Бесплатная доставка от 2000 рублей. Оформить заказ с доставкой на дом можно как на сайте, так и по телефону +79091413242. Доставка от 1-го часа. У нас большой ассортимент цветов, авторских букетов и монобукетов, эксклюзивные композиции на заказ и в наличии!">{% endblock %}
{% block robots %}<meta name="robots" content="all">{% endblock %}
{% block keywords %}<meta name="keywords" content="Цветок, Цветы Киров, Букеты Киров, Доставка цветов, Заказать цветы, Авторские букеты, Монобукеты, Композиции, Розы, Тюльпаны, Хризантемы" /> {% endblock %}

{% block content %}
    {% include 'includes/header.html' %}
    <!-- Modal for search in header -->
    <div class="modal fade" id="modalSearch" tabindex="-1" aria-labelledby="modalSearchLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content c-bg-body">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalSearchLabel">Поиск товаров</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <form action="{% url 'product_search' %}" method="get" class="col text-center">
                    <div class="modal-body place-holder-color d-flex">
                        {{ search_form.search_text }}
                        
                        <button type="submit" class="btn c-bg-button" aria-label="modalSearchLabel">  
                            <img src="{% static 'products/icons/dark/magnifying-glass-icon.png' %}" alt="Поиск товаров" width="29" height="29">
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal for search in header -->

    <main class="d-flex justify-content-center">
        <!-- PC -->
        <div class="container d-none d-lg-grid">
            <div class="row justify-content-center products mx-0 pb-3" itemscope itemtype="https://schema.org/ItemList">
                <img class="mt-5 px-lg-5" src="{% static 'products/img/CVETOK10_pc.png' %}" alt="Скидка 10% по промокоду ЦВЕТОК10">
                <div class="col-12 px-lg-5">
                    {% include 'includes/filter.html' %}
                </div>

                {% if products %}
                {% for product in products %}
                    <section class="col-5 col-lg-2 col-xl-2 card border border-0 c-bg-card mx-2 px-0" itemprop="itemListElement" itemscope itemtype="https://schema.org/Product">
                        <meta itemprop="description" content="{{ product.header_description }}">
                        <a href="{% url 'product_detail' product.slug %}" class="c-link-main text-decoration-none" target="_self" itemprop="url">
                            <img class="card-img-top" src="{{ product.preview.url }}" alt="{{ product.title }}" itemprop="image">
                            <div itemprop="name" class="card-body d-flex text-center justify-content-center align-items-center py-3" style="height: 80px">
                                <article class="c-link-main d-none d-lg-block d-xl-none fs-16 m-0">{{ product.title }}</article>
                                <article class="c-link-main d-none d-xl-block d-xxl-none fs-17 m-0">{{ product.title }}</article>
                                <article class="c-link-main d-none d-xxl-block fs-19 m-0">{{ product.title }}</article>
                            </div>
                        </a>
                        <div class="card-footer d-flex justify-content-between align-items-end h-100" style="background-color: #eff3e9" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                            
                            {% if product.discount == 0 %}
                                <span class="fs-19">
                                    {{ product.new_price|floatformat:0 }}
                                    <span>&#8381;</span>
                                </span>
                            {% else %}
                                <div class="d-grid text-start">
                                    <span>
                                        <del class="old-price fs-13">
                                            {{ product.price|floatformat:0 }}
                                            <span>&#8381;</span>
                                        </del>
                                    </span>
                                    <span class="badge rounded-3 c-bg-new-price-badge">
                                        <span class="c-new-price fs-19">
                                            {{ product.new_price|floatformat:0 }}
                                            <span>&#8381;</span>
                                        </span>
                                    </span>
                                </div>
                            {% endif %}
                            <meta itemprop="price" content="{{ product.price }}">
                            <meta itemprop="priceCurrency" content="RUB">

                            <div class="d-flex justify-content-end">
                                {% if user.is_authenticated %}
                                    <form action="{% url 'add_one_item_to_cart' product.id %}" class="col-8 d-flex justify-content-center" method="post">
                                        {% csrf_token %}
                                        <button class="btn p-0">
                                            <img src="{% static 'products/icons/dark/add-to-cart-icon.png' %}" alt="shopping-bag-icon" width="35rem">
                                        </button>
                                    </form>
                                {% else %}
                                    <div class="col-8 d-flex justify-content-center">
                                        <a class="btn p-0" tabindex="0" role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-html="true" 
                                        data-bs-content="
                                            <div class='row m-0 p-0'>
                                                <span class='col-12 m-0 p-0'>Для того, чтобы добавить товар в корзину, нужно войти в аккаунт.</span>
                                                <a href={% url 'login' %} class='col-12 btn c-btn-primary m-0 mt-2'>Войти</a>
                                            </div>">
                                            <img src="{% static 'products/icons/dark/add-to-cart-icon.png' %}" alt="shopping-bag-icon" width="35rem">
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </section>
                {% endfor %}
                {% else %}
                    <div class="text-center">
                        <p>Продуктов по данному фильтру нет</p>
                        <p>
                            Если у Вас возникли вопросы, то позвоните нам
                            <br>
                            <strong><a class="dropdown-item" href="tel:+7-909-141-32-42">+79091413242</a></strong>
                        </p>
                    </div>
                {% endif %}
            </div>
            {% include 'includes/paginator.html' %}
        </div>
        <!-- PC -->

        <!-- Mobile -->
        <div class="container-fluid d-grid d-lg-none mx-0 p-0">
            <div class="row justify-content-center products mx-0 pb-3">
                <img class="mt-4 px-4" src="{% static 'products/img/CVETOK10_mobile.png' %}" alt="Скидка 10% по промокоду ЦВЕТОК10">
                <div class="col-12">
                    {% include 'includes/filter.html' %}
                </div>

                {% if products %}
                {% for product in products %}

                    <section class="col-5 col-sm-3 card border border-0 c-bg-card mx-2 px-0">
                        <a href="{% url 'product_detail' product.slug %}" class="c-link-main text-decoration-none" target="_self">
                            <img class="card-img-top" src="{{ product.preview.url }}" alt="{{ product.title }}" >
                            <div class="card-body d-flex text-center justify-content-center align-items-center py-3" style="height: 80px">
                                <article class="d-block d-sm-none fs-16 m-0">{{ product.title }}</article>
                                <article class="d-none d-sm-block d-md-none fs-16 m-0">{{ product.title }}</article>
                                <article class="d-none d-md-block fs-17 m-0">{{ product.title }}</article>
                            </div>
                        </a>

                        <div class="card-footer d-flex justify-content-between align-items-end h-100" style="background-color: #eff3e9">

                            {% if product.discount == 0 %}
                                <span class="fs-19">
                                    {{ product.new_price|floatformat:0 }}
                                    <span>&#8381;</span>
                                </span>
                            {% else %}
                                <div class="d-grid text-start">
                                    <span>
                                        <del class="old-price fs-11">
                                            {{ product.price|floatformat:0 }}
                                            <span>&#8381;</span>
                                        </del>
                                    </span>
                                    <span class="badge rounded-3 c-bg-new-price-badge">
                                        <span class="c-new-price fs-19">
                                            {{ product.new_price|floatformat:0 }}
                                            <span>&#8381;</span>
                                        </span>
                                    </span>
                                </div>
                            {% endif %}

                            <div class="d-flex justify-content-end">
                                {% if user.is_authenticated %}
                                    <form action="{% url 'add_one_item_to_cart' product.id %}" class="col-8 d-flex justify-content-center" method="post">
                                        {% csrf_token %}
                                        <button class="btn p-0">
                                            <img src="{% static 'products/icons/dark/add-to-cart-icon.png' %}" alt="shopping-bag-icon" width="35rem">
                                        </button>
                                    </form>
                                {% else %}
                                    <div class="col-8 d-flex justify-content-center">
                                        <a class="btn p-0" tabindex="0" role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-html="true" 
                                        data-bs-content="
                                            <div class='row m-0 p-0'>
                                                <span class='col-12 m-0 p-0'>Для того, чтобы добавить товар в корзину, нужно войти в аккаунт.</span>
                                                <a href={% url 'login' %} class='col-12 btn c-btn-primary m-0 mt-2'>Войти</a>
                                            </div>">
                                            <img src="{% static 'products/icons/dark/add-to-cart-icon.png' %}" alt="shopping-bag-icon" width="35rem">
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </section>
                {% endfor %}
                {% else %}
                    <div class="text-center">
                        <p>Продуктов по данному фильтру нет</p>
                        <p>
                            Если у Вас возникли вопросы, то позвоните нам
                            <br>
                            <strong><a class="dropdown-item" href="tel:+7-909-141-32-42">+79091413242</a></strong>
                        </p>
                    </div>
                {% endif %}
            </div>
            
            {% include 'includes/paginator.html' %}
        </div>
        <!-- Mobile -->
    </main>

    <!-- Microdata -->
    <div itemscope itemtype="https://schema.org/Florist">
        <meta itemprop="name" content="Цветок">
        <meta itemprop="currenciesAccepted" content="RUB">
        <meta itemprop="paymentAccepted" content="Наличные, Банковская карта, QR-код, Банковский перевод, Безналичная оплата, СБП"/>
        <meta itemprop="openingHours" content="Пн-Пт 08:00-19:00"/>
        <meta itemprop="openingHours" content="Сб 09:30-18:00"/>
        <meta itemprop="openingHours" content="Вс 09:30-17:00"/>
        <meta itemprop="priceRange" content="₽₽">
        <meta itemprop="url" href="https://kirovcvetok.ru">
        <meta itemprop="image" content="https://kirovcvetok.ru/static/products/img/open-graph-image.png">
        <meta itemprop="email" content="questions@kirovcvetok.ru">
        <meta itemprop="telephone" content="+7 909-141-32-42">
        <meta itemprop="keywords" content="Цветы Киров, Цветок, Цветок Киров, Букеты Киров, Доставка цветов в Кирове, 8 марта, 14 февраля, подарок, розы, тюльпаны, пионы, хризантемы, гвоздика, герберы">
        <div itemscope itemprop="address" itemtype="https://schema.org/PostalAddress">
            <meta itemprop="addressCountry" content="Россия">
            <meta itemprop="addressLocality" content="Киров">
            <meta itemprop="addressRegion" content="Кировская область">    
            <meta itemprop="postalCode" content="610047">
            <meta itemprop="streetAddress" content="улица Октябрьский проспект, 2А, 1 этаж">
        </div>
        <div itemscope itemprop="hasOfferCatalog" itemtype="https://schema.org/OfferCatalog">
            <div itemscope itemprop="itemListElement" itemtype="https://schema.org/AggregateOffer">
                <meta itemprop="lowPrice" content="{{ min_price|floatformat:0 }}">
                <meta itemprop="highPrice" content="{{ max_price|floatformat:0 }}">
                <meta itemprop="priceCurrency" content="RUB">
            </div>
            {% for product in product_list_price %}
            <div itemscope itemprop="itemListElement" itemtype="https://schema.org/ListItem">
                <link itemprop="item" href="{% url 'product_detail' product.slug %}">
                    <meta itemprop="name" content="{{ product.title }}">
                </link>
            </div> 
            {% endfor %}
        </div>
        

        </div>
    </div>
    <script>
        const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
        const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
        const popover = new bootstrap.Popover('.popover-dismiss', {
            trigger: 'focus'
            })
    </script>
    {% include 'includes/footer.html' %}
{% endblock %}