{% extends 'base.html' %}

{% block static %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}


{% block title %} product.title {% endblock %}


{% block content %}

    {% include 'includes/header.html' %}

    {% for product_image in product.product_gallery.all %}
        <div class="">
            <img class="" src="{{ product_image.image.url }}" alt="product {{ product.title }}" height="300">
        </div>
    {% endfor %}


    {{ product.title }}<br>
    Описание: {{ product.description }}<br>

    {% if product.discount == 0 %}
        Цена: {{ product.discount_price }} Руб.<br>
    {% else %}
        Цена: <del>{{ product.price }}</del><br>
        Скидка: {{ product.discount }}%<br>
        Цена со скидкой: {{ product.discount_price }} Руб.<br>
    {% endif %}

    {% if product.status == 3 %}
        {{ product.get_status_display }}<br>
    {% endif %}

    <form action="{% url 'cart:cart_remove_one' product.id %}" method="post">
        {% csrf_token %}

        <input type="submit" value="-">
    </form>



    {{ quantity }}

    <form action="{% url 'cart:cart_add_one' product.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="+">
    </form>

    <p>Hello</p>
    <form action="{% url 'cart:cart_add_all' product.id %}" method="post">
        {% csrf_token %}

        {{ cart_product_form.quantity }}
        <input type="submit" value="+">
    </form>

   <div class="">
        <p>Состоит из:</p>
        <ul>
            {% for product_component in product.get_composition %}
                <li>
                    {{ product_component.component.title }} -
                    {{ product_component.quantity }} штук
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}